@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #0f172b;
  --color-foreground-weak: #737373;
  --color-title: #1447e6;
  --color-primary: #155dfc;
  --color-border: #cad5e2;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  margin: 0; /* デフォルトのマージンをリセット */
}

.custom-calendar {
  font-size: 1.5rem; /* フォントサイズを大きく */
  width: 400px !important; /* カレンダー全体の幅を拡大 */
  max-width: 100%;
}
